@media (min-width: 1200px) {
    img.tab{display: none;}
    img.pc{display: block;}
    img.m{display: none;}
    p.pc{display: block;}
    p.m{display: none;}
    h2.m{display: none;}
    h2.pc{display: block;}  
    button.m{display: none;}
    .pc{display: block;}
    .m{display: none;}
    
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 100;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Thin.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 200;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraLight.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 300;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Light.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Regular.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Medium.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-SemiBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Bold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 800;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-ExtraBold.ttf') format('truetype');
    }
    @font-face {
        font-family: 'Apple SD Gothic Neo';
        font-weight: 900;
        font-style: normal;
        font-display: swap;
        src: url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Black.woff2') format('woff2'),
             url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo-Black.ttf') format('truetype');
    }

    header{}
    header .wrap{}
    header .wrap .header_Top{
        justify-content: space-between;
    }
    header .wrap .header_Top h1{}
    header .wrap .header_Top h1 a{}
    header .wrap .header_Top .pc_nav{
        display: flex;
        gap: 18px;
    }
    header .wrap .header_Top .pc_nav button{}
    header .wrap .header_Top .pc_nav button a{
        display: flex;
        justify-content: center;
        align-items: end;
        text-align: center;
    }
    header .wrap .header_Top .pc_nav button a span{
        margin-right: 5px;
    }
    header .wrap .header_Top .pc_nav button a p{
        font-family: 'Apple SD Gothic Neo';
        font-size: 15px;
        font-weight: 600;
        text-align: center;
    }
    header .wrap .header_Bottom{
        display: flex;
        gap: 70px;
        margin-top: 21px;
        justify-content: space-between;
    }
    header .wrap .header_Bottom .sub{
        display: flex;
        gap: 67px;
    }
    header .wrap .header_Bottom button{}
    header .wrap .header_Bottom button a{}
    header .wrap .header_Bottom button a p{
        font-size: 45px;
        font-family: 'Apple SD Gothic Neo';
        font-weight: 900;
    }
    header .wrap .header_Bottom .icon{
        display: flex;
        gap: 20px;
    }
    header .wrap .header_Bottom .icon button{}
    header .wrap .header_Bottom .icon button a{}
    header .wrap .header_Bottom .icon button a span{
        font-size: 40px;
        font-weight: bolder;
    }

    /* banner */
    .banner{}
    .banner .wrap{}
    .banner .wrap .banner_Top{
    }
    .banner .wrap .banner_Top .tabs{
        justify-content: left;
        padding-left:20px ;
    }
    .banner .wrap .banner_Top .tabs .tab{
        display: flex;
        font-family: 'Apple SD Gothic Neo';
        font-size: 17px;
        font-weight: 700;
        border-bottom: 5px solid #d9d9d9;
        padding: 4px 20px;
    }
    .banner .wrap .banner_Top .tabs .tab:first-child{
        border-bottom: 5px solid #000;
    }
    .banner .wrap .banner_Top .tab-content:first-child{
        display: block;
    }
    .banner .wrap .banner_Top .tab-content{
        display: none;
    }
    .banner .wrap .banner_Top .tab-content .tabSlide{}
    .banner .wrap .banner_Top .tab-content .tabSlide .swiper-wrapper{}
    .banner .wrap .banner_Top .tab-content .tabSlide .swiper-wrapper .product{
        position: relative;
    }
    .banner .wrap .banner_Top .tab-content .tabSlide .swiper-wrapper .product img{
        border-radius: 36px;
        height: 265px;
        object-fit: cover;
        width: 100%;
    }
    .banner .wrap .banner_Top .tab-content .tabSlide .swiper-wrapper .product p{
        font-family:'Apple SD Gothic Neo' ;
        font-weight: 700;
        font-size: 23px;
        color: #fff;
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .banner .wrap .banner_Top .tab-content .tabSlide .swiper-wrapper .swiper-scrollbar{
        display: none;
    }
    .banner .wrap .banner_Top .tab-content:nth-child(2){
        padding: 0 20px;
    }
    .banner .wrap .banner_Top .tab-content .menu{
        display: flex;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .banner .wrap .banner_Top .tab-content .menu .service{
        margin-right: 50px;
    }
    .banner .wrap .banner_Top .tab-content .menu .service span{
    }
    .banner .wrap .banner_Top .tab-content .menu .service .list{}
    .banner .wrap .banner_Top .tab-content .menu .service .list p:first-child{
        margin-top: 10px;
    }
    .banner .wrap .banner_Top .tab-content .menu .service .list p{
        margin-bottom: 10px;
    }
    .banner .wrap .banner_Top .tab-content .menu .service .list p a{
        font-size: 19px;
        font-family:'Apple SD Gothic Neo' ;
        font-weight: 300;
    }
    .banner .wrap .banner_Top .tab-content .menu .more{
        margin-right: 40px;
    }
    .banner .wrap .banner_Top .tab-content .menu .more span{
        font-family:'Apple SD Gothic Neo' ;
        font-size: 17px;
        font-weight: 700;
    }
    .banner .wrap .banner_Top .tab-content .menu .more p{
        margin: 10px 0;
    }
    .banner .wrap .banner_Top .tab-content .menu .more p a{
        font-size: 19px;
        font-family:'Apple SD Gothic Neo' ;
        font-weight: 300;
    }
    .banner .wrap .banner_Top .tab-content .service_link{
        display: block;
        background-color: #bc261d;
        padding: 20px 30px;
    }
    .banner .wrap .banner_Top .tab-content .service_link p{
        margin-bottom: 20px;
    }
    .banner .wrap .banner_Top .tab-content .service_link p a{
        font-family:'Apple SD Gothic Neo' ;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
    }
    .banner .wrap .banner_Top .tab-content .service_link button{}
    .banner .wrap .banner_Top .tab-content .service_link button a{}
    .banner .wrap .banner_Top .tab-content .service_link button a span{
        background-color: #fff;
        padding: 10px;
        color: #000;
        border-radius: 50%;
    }
    .banner .wrap .banner_Top .tab-content .link{
        display: none;
    }
    .banner .wrap .banner_Top .tab-content:nth-child(3){
        padding: 0 20px;
    }
    .banner .wrap .banner_Top .tab-content:nth-child(3) .link{
        display: none;
    }
    .banner .wrap .banner_Top .tab-content:nth-child(3) .link p a {
        font-size: 19px;
        font-family:'Apple SD Gothic Neo' ;
        font-weight: 300;
    }
    .banner .wrap .banner_Top .tab-content .event{
        margin-right: 40px;
    }
    .banner .wrap .banner_Top .tab-content .event span{
        font-family:'Apple SD Gothic Neo' ;
        font-size: 17px;
        font-weight: 700;
    }
    .banner .wrap .banner_Top .tab-content .event .list{
        margin-bottom: 15px;
    }
    .banner .wrap .banner_Top .tab-content .event .list p{
        margin-bottom: 10px
    }
    .banner .wrap .banner_Top .tab-content .event .list p:last-child{
        margin-bottom: 0;
    }
    .banner .wrap .banner_Top .tab-content .event .list p:first-child{
        margin-top: 10px;
    }
    .banner .wrap .banner_Top .tab-content .event .list p a{
        font-size: 19px;
        font-family:'Apple SD Gothic Neo' ;
        font-weight: 300;
    }
    .banner .wrap .banner_Top .tab-content .event_link{
        display: block;
        background-color: #f0f0f0;;
        padding: 20px 30px;
    }
    .banner .wrap .banner_Top .tab-content .event_link p{
        margin-bottom: 60px;
    }
    .banner .wrap .banner_Top .tab-content .event_link p a{
        font-family:'Apple SD Gothic Neo' ;
        color: #000;
        font-size: 20px;
        font-weight: 700;
    }
    .banner .wrap .banner_Top .tab-content .event_link button{}
    .banner .wrap .banner_Top .tab-content .event_link button a{}
    .banner .wrap .banner_Top .tab-content .event_link button a span{
        background-color: #fff;
        padding: 10px;
        color: #000;
        border-radius: 50%;
    }
    
    /* banner-bottom */
    .banner_Bottom{
        margin-top: 15px;
    }
    .banner_Bottom .banner_B{
    }
    .banner_Bottom .banner_B .swiper-wrapper{
        margin-bottom: 50px;
        
    }
    .banner_Bottom .banner_B .swiper-wrapper .swiper-slide{
        
    }
    .banner_Bottom .banner_B .swiper-wrapper .swiper-slide a{
        position: relative;
    }
    .banner_Bottom .banner_B .swiper-wrapper .swiper-slide a img{
        border-radius:28px;
        height:500px;
        width: 100%;
        object-fit: cover;

    }
    .banner_Bottom .banner_B .swiper-wrapper .swiper-slide a .txt{
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
        top: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .banner_Bottom .banner_B .swiper-wrapper .swiper-slide a .txt p{
        color: #fff;
    }
    .banner_Bottom .banner_B .swiper-wrapper .swiper-slide a .txt p:nth-child(1){
        font-family:'Apple SD Gothic Neo' ;
        font-size: 27px;
        font-weight: 700;
        margin-bottom: 13px;
    }
    .banner_Bottom .banner_B .swiper-wrapper .swiper-slide a .txt p:nth-child(2){
        font-family:'Apple SD Gothic Neo' ;
        font-size: 50px;
        font-weight: 700;
    }
    .banner_Bottom .banner_B .swiper-button-next{
        display: block;
        position: absolute;
        top: 45%;
        right: 25px;
        
    }
    .banner_Bottom .banner_B .swiper-button-next::after{
        color: #fff;
        font-weight: bold;
    }
    .banner_Bottom .banner_B .swiper-button-prev{
        display: block;
        position: absolute;
        top: 45%;
        left: 25px;
    }
    .banner_Bottom .banner_B .swiper-button-prev::after{
        color: #fff;
        font-weight: bold;
    }
    .banner_Bottom .swiper-pagination-bullet{
        display: none;

    }
    
    /* section1 */
    .section1{
    }
    .section1 .wrap{
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
    }
    .section1 .wrap .tit{
        margin: 0 auto;
    }
    .section1 .wrap h1{
        color: #3874e1;
        font-size: 30px;
        font-family:'Apple SD Gothic Neo' ;
        font-weight: 700;
        margin-bottom: 50px;
    }
    .section1 .wrap .tabs{
        display: flex;
        justify-content: space-between
    }
    .section1 .wrap .tabs .tab{
        display: block;
    }
    .section1 .wrap .tabs .tab h2{
        font-size: 30px;
        font-family:'Apple SD Gothic Neo' ;
        color:#c6c6c6;
        font-weight: 800;
    }
    .section1 .wrap .tabs .tab:nth-child(1) h2{
        font-size: 30px;
        font-family:'Apple SD Gothic Neo' ;
        color: #000;
        font-weight: 900;
    }
    .section1 .wrap .tabs .tab:nth-child(1)  span{
        color: #000;
        font-size: 30px;
    }
    .section1 .wrap .tabs .tab span{
        font-weight: bolder;
        color: #c6c6c6;
        font-size: 30px;
    }
    .section1 .wrap .contents{
        margin-top: 50px;
    }
    .section1 .wrap .contents .image{
        display: none;
    }
    .section1 .wrap .contents .image:first-child{
        display: block;
    }
    .section1 .wrap .contents .image a{
        width: 100%;
    }
    .section1 .wrap .contents .image a img{
        border-radius: 12px;
        width: 90%;
        height: 315px;
        object-fit: cover;
    }

    /* section2 */
    .section2{
        margin: 60px 0;
        background-color: #000;
        padding: 80px 0 0 80px;
    }
    .section2 .wrap{
        display: flex;
        position: relative;
    }
    .section2 .wrap .text{
        /* margin-right: 130px; */
    }
    .section2 .wrap .text p{
        display:inline;
        color: #fff;
        font-family:'Apple SD Gothic Neo' ;
        font-size: 16px;
        background-color: #3874e1;
        padding: 10px;
        align-items: center;
    }
    .section2 .wrap .text h1{
        margin: 30px 0;
    }
    .section2 .wrap .text h1 img{
        width: 350px;
        margin-left: 0;
    }
    .section2 .wrap .text h2{
        font-family:'Apple SD Gothic Neo' ;
        font-size: 40px;
        font-weight: 700;
        color: #8c8c8c;
        margin-bottom: 40px;
        width: 65%;
    }
    .section2 .wrap .text h2 span{
        color: #fff;
    }
    .section2 .wrap .text .button{
        display: flex;
        margin-bottom: 10px;
        gap: 25px;
    }
    .section2 .wrap .text  button{}
    .section2 .wrap .text  button a{
        font-family:'Apple SD Gothic Neo' ;
        font-weight: 400;
        font-size: 19px;
        color: #fff;
        padding: 12px 25px;
        border: 1px solid #fff;
    }
    .section2 .wrap .backimg{
        display: flex;
        align-items: end;
        margin-right: 200px;
    }
    .section2 .wrap .backimg img{
        height: 90%;
    }
    .section2 .wrap .info{}
    .section2 .wrap .info .box1{
        width: 314px;
        border-radius: 20px;
        position: absolute;
        background-color: rgba(255,255,255,0.1);  /* 요소를 반투명 처리 해준 후 */
        backdrop-filter: blur(5px);
        right: 30%;
        top: 0;
        padding: 40px 30px;
    }
    .section2 .wrap .info .box1 h3,
    .section2 .wrap .info .box2 h3,
    .section2 .wrap .info .box3 h3{
        color: #fff;
        font-size: 20px;
        font-family:'Apple SD Gothic Neo' ;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .section2 .wrap .info .box1 p,
    .section2 .wrap .info .box2 p,
    .section2 .wrap .info .box3 p{
        color: #fff;
        font-size: 15px;
        font-family:'Apple SD Gothic Neo' ;
        font-weight: 300;
        line-height: 25px;
    }
    .section2 .wrap .info .box2{
        width: 314px;
        border-radius: 20px;
        position: absolute;
        background-color: rgba(255,255,255,0.1);  /* 요소를 반투명 처리 해준 후 */
        backdrop-filter: blur(5px);
        padding: 30px;
        bottom: 50px;
        right: 35%;
    }
    .section2 .wrap .info .box3{
        width: 314px;
        border-radius: 20px;
        position: absolute;
        background-color: rgba(255,255,255,0.1);  /* 요소를 반투명 처리 해준 후 */
        backdrop-filter: blur(5px);
        padding: 30px;
        bottom: 40%;
        right:7%;
    }

    /* section3 */
.section3{}
.section3 .wrap{

}
.section3 .wrap .tit{
}
.section3 .wrap .tit h1{
    color: #3874e1;
    font-size: 27px;
    font-family: 'Apple SD Gothic Neo';
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}
.section3 .wrap .sec3_scroll{}
.section3 .wrap .sec3_scroll .swiper-wrapper{}
.section3 .wrap .sec3_scroll .swiper-wrapper .swiper-slide{
    margin-bottom: 30px;
}
.section3 .wrap .sec3_scroll .swiper-wrapper .swiper-slide a{
    position: relative;
    display: flex;
    justify-content: center;
}
.section3 .wrap .sec3_scroll .swiper-wrapper .swiper-slide a::after{
    content: '';
    display: block;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0,0,0,0.8));
    position: absolute;    
    bottom: 0;
    left: 0; 
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.section3 .wrap .sec3_scroll .swiper-wrapper .swiper-slide a img{
    border-radius: 16px;
}
.section3 .wrap .sec3_scroll a p{
    font-size: 20px;
    font-family: 'Apple SD Gothic Neo';
    font-weight: 600;
    position: absolute;
    bottom: 20px;
    color: #fff;
    z-index: 9999;
    margin: 0 auto;

}
.section3 .wrap .sec3_scroll .swiper-scrollbar{
    width: 60%;
}
.section3 .wrap .sec3_scroll .swiper-scrollbar-horizontal{
    background-color: #9c9797;
    height: 7px;
    border-radius: 0;
}
.section3 .wrap .sec3_scroll .swiper-scrollbar-drag{
    background-color: #3874e1;
    height: 7px;
    border-radius: 0;
}
.section3 .swiper-button-next{
    display: block;
    margin-right: 10px;
}
.section3 .swiper-button-next::after{
    color: #fff;
    font-weight: bolder;
}
.section3 .swiper-button-prev{
    display: block;
    margin-left: 10px;
}
.section3 .swiper-button-prev::after{
    color: #fff;
    font-weight: bolder;
}
.section4 .swiper-slide img{
    width: 100px;
}
}